
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<h1 style="text-align: center;color:#ff6a00"><b>Product Details:</b></h1>
<br /><br />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/knockout-3.5.0.js"></script>
<script src="~/Scripts/ViewModel/Api.js"></script>
<script src="~/Scripts/ViewModel/Constant.js"></script>
<script src="~/Scripts/ViewModel/ShowDtailsViewModel.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new cbo.ShowDtailsViewModel(
            cbo.Constant.BASE_URIAPI,
            cbo.Constant.PortalApiRels
        ));

    });
</script>

<div>

    @Html.Hidden("hiddenMsg", (object)ViewBag.Message)
</div>
<div class="pane1-body">
    <div class="col-md-12">
        <div class="form-field">
            <table style="padding:inherit;width:100% ">
                <tr style="text-align:center">
                    <td>
                        Id:
                        <label for="lblId" name="id" data-bind="text:Product_ShowDetails().ProductId_ProductDetails " id="lblId"></label>
                    </td>
                    <td>
                        Name:
                        <label for="lblname" name="name" data-bind="text:Product_ShowDetails().ProductName_ProductDetails " id="lblName"></label><br /><br />
                    </td>
                </tr>

                <tr style="text-align:center">
                    <td>
                        Password:
                        <label for="lblPassword" name="password" data-bind="text:Product_ShowDetails().ProductPassword_ProductDetails " id="lblPassword"></label>
                    </td>
                    <td>
                        Code:
                        <label for="lblCode" name="code" data-bind="text:Product_ShowDetails().ProductCode_ProductDetails " id="lblCode"></label><br /><br />
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td>
                        Price:
                        <label for="lblPrice" name="Price" data-bind="text:Product_ShowDetails().ProductPrice_ProductDetails " id="lblPrice"></label>
                    </td>
                    <td>
                        Quantity:
                        <label for="lblQuantity" name="Quantity" data-bind="text:Product_ShowDetails().ProductQuantity_ProductDetails " id="lblQuantity"></label><br /><br />
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td>
                        Type:
                        <label for="lblype" name="Type" data-bind="text:Product_ShowDetails().ProductType_ProductDetails " id="lblType"></label>
                    </td>
                    <td>
                        Discription:
                        <label for="lblDiscription" name="Discription" data-bind="text:Product_ShowDetails().ProductDiscription_ProductDetails " id="lblDiscription"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>